<!--no balise app-container ?-->
<div class="flex center-h center-v f-column h-100 gap-24">
  <!--<mat-icon class="not-found-icon">
    report_gmailerrorred
  </mat-icon>-->

  <div class="fs-32 fw-600">
    Oops! Page Not Found
  </div>

  <div class="fs-28 flex f-column center-v">
    <p>
      The page you're looking doesn't exist!
    </p>

    <p>
      If the page is right, please contact administrator!
    </p>
  </div>

  <div class="flex f-column center-v">
    <p>
      If you think this is a mistake, please start from home page
    </p>

    <a mat-button routerLink="/profiles" color="primary">
      Back to Home
    </a>
  </div>
</div>
  